@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
}

.oberle{
    background-color: hsla(0, 0%, 0%, 0.278);
}
.banner{
    background-image: url('images/banner.jpg');
    background-repeat: no-repeat;
    top: 200px;
    bottom: 400px;
}